@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Thank you for registering.</h1>
    <h2 class="text-danger">This account has been locked out pending approval by an administrator.</h2>
    <p>Please, check again soon.</p>
</hgroup>
